/* General styles */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
::selection{
  color: var(--primary-color-rick-and-morty);
  background-color: var(--secondary-color-rick-and-morty);
}

::-webkit-scrollbar{
  width: 3px;
  background-color: var(--secondary-color-rick-and-morty);
}
::-webkit-scrollbar-thumb{
  border-radius: 5px;
  background-color: var(--primary-color-rick-and-morty);
}

/* variables */
:root{
  --white: #fff;
  --black: #000;
  --primary-color-rick-and-morty: #ff9800;
  --secondary-color-rick-and-morty: #202329;
}
h1{
  font-size: 5.5rem;
}
h2{
  font-size: 4.5rem;
}
h3{
  font-size: 3.5rem;
}
h4{
  font-size: 3rem;
}
h5{
  font-size: 2.5rem;
}
h6{
  font-size: 2rem;
}
p{
  font-size: 1rem;
}

/*========
RICK AND MORTY STYLES
==========*/
.title__container-RAM{
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title__RAM{
  font-weight: 900;
  color: var(--secondary-color-rick-and-morty);
}

.oficial-site{
  text-decoration: none;
  color: var(--primary-color-rick-and-morty);
  font-weight: bold;
}

.characters-bg-color{
  background-color: var(--secondary-color-rick-and-morty);
}

.characters__principal-container-RAM{
  width: 100%;
  display: flex;
  padding: 7rem 3rem;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.characters__container-RAM{
  width: 100%;
  max-width: 600px;
  height: 100%;
  max-height: 250px;
  display: flex;
  border-radius: 20px;
  background-color: #3c3e44;
  overflow: hidden;
  cursor: pointer;
  transition: all ease .3s;
}
.characters__container-RAM:hover .img_RAM{
  transform: scale(1.1);
}
.characters__container-RAM:hover .name_RAM{
  color: var(--primary-color-rick-and-morty);
}
.characters__container-RAM:hover{
  box-shadow: 0px 0px 10px 1px #9b9999;
}

.img__container-RAM{
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  object-fit: cover;
}

.img_RAM{
  transition: all ease .3s;
}

.alive-RAM, .unknown-RAM, .dead-RAM{
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.alive-RAM{
  background-color: #008000;
}

.unknown-RAM{
  background-color: #616060;
}

.dead-RAM{
  background-color: #ff0000;
}

.alive-RAM-container{
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.characters__info-RAM{
  padding: 2rem;
}

.name_RAM, .specie-RAM, .origin-RAM{
  color: var(--white);
  transition: all ease .3s;
  text-decoration: none !important;
}

.origin-RAM{
  font-weight: 900;
  color: #75929e;
}

.origin-name-RAM{
  text-decoration: none;
  color: var(--white);
  transition: all ease .3s;
}
.origin-name-RAM:hover{
  color: var(--primary-color-rick-and-morty);
}


/* Detail character styles */
.detail-character-principal-container{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--secondary-color-rick-and-morty);
  background: linear-gradient(317deg, var(--primary-color-rick-and-morty) 65%, var(--secondary-color-rick-and-morty) 50%);
}
.detail-character-second-container{
  width: 100%;
  max-width: 1090px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.d-char-img{
  border-radius: 30px;
  box-shadow: 0px 0px 20px 5px #000000bd;
}



/*========
END RICK AND MORTY STYLES
==========*/
































/*========
404
==========*/
.not-found__container{
  width: 100%;
  height: 100vh;
  padding: 0 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--black);
}

.not-found__title{
  font-size: 13rem !important;
}
@media all and (max-width: 900px) {
  .not-found__title{
    font-size: 10rem !important;
  }
}

.not-found__title, .not-found__text{
  color: var(--primary-color-rick-and-morty);
}

.not-found__text{
  text-align: center;
}

.not-found__btn{
  position: relative;
  width: 7.5rem;
  height: 3rem;
  margin-top: 3rem;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 900;
  background-color: var(--black);
  cursor: pointer;
  overflow: hidden;
  z-index: 1;
  transition: all ease .3s;
  border: 1px solid var(--primary-color-rick-and-morty);
  color: var(--primary-color-rick-and-morty);
}

.not-found__btn::after{
  content: '';
  position: absolute;
  width: 7.7rem;
  height: 3.3rem;
  top: 0;
  right: 100%;
  background-color: var(--primary-color-rick-and-morty);
  transition: all ease .3s;
  z-index: -1;
}

.not-found__btn:hover::after{
  right: 0;
}

.not-found__btn:hover{
  border: 1px solid var(--primary-color-rick-and-morty);
  color: var(--black);
}
/*========
END 404
==========*/